<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{movie?.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-img src="{{movie?.poster}}"></ion-img>
        <ion-card-header>
            <ion-card-title>{{movie?.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><b>Director: </b> {{movie?.director}}</p>
            <p><b>Año: </b>{{movie?.year}}</p>
            <p><b>Sinopsis: </b>{{movie?.synopsis}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>